<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.live.mapper.RoomUserUserMapper">

    <select id="selectBySecUid" resultType="com.ruoyi.live.domain.RoomUserUser">
        select
            id,
            sec_uid as secUid,
            nickname,
            last_seen_time as lastSeenTime
        from room_user_user
        where sec_uid = #{secUid}
            limit 1
    </select>

    <insert id="upsert">
        insert into room_user_user (sec_uid, nickname, last_seen_time)
        values (#{secUid}, #{nickname}, #{lastSeenTime})
            on duplicate key update
                                 nickname = values(nickname),
                                 last_seen_time = values(last_seen_time)
    </insert>

</mapper>
