<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.live.mapper.RoomUserRoomMapper">

    <!-- 根据 room_key 查询 -->
    <select id="selectByRoomKey" resultType="com.ruoyi.live.domain.RoomUserRoom">
        SELECT
            id,
            room_key       AS roomKey,
            shop_name      AS shopName,
            last_seen_time AS lastSeenTime,
            create_time    AS createTime,
            update_time    AS updateTime
        FROM room_user_room
        WHERE room_key = #{roomKey}
            LIMIT 1
    </select>

    <!--
      upsert（插件上报写入）
      【备注】只要唯一键是 room_key，这里就安全
    -->
    <insert id="upsert" parameterType="com.ruoyi.live.domain.RoomUserRoom">
        INSERT INTO room_user_room
            (room_key, shop_name, last_seen_time, create_time, update_time)
        VALUES
            (#{roomKey}, #{shopName}, #{lastSeenTime}, NOW(), NOW())
            ON DUPLICATE KEY UPDATE
                                 shop_name = VALUES(shop_name),
                                 last_seen_time = VALUES(last_seen_time),
                                 update_time = NOW()
    </insert>

    <!-- 直播间分页列表（系统页面用） -->
    <select id="selectRoomList" resultType="com.ruoyi.live.domain.RoomUserRoom">
        SELECT
        id,
        room_key       AS roomKey,
        shop_name      AS shopName,
        last_seen_time AS lastSeenTime,
        create_time    AS createTime,
        update_time    AS updateTime
        FROM room_user_room
        WHERE 1=1
        <if test="shopName != null and shopName != ''">
            AND shop_name LIKE CONCAT('%', #{shopName}, '%')
        </if>
        <if test="roomKey != null and roomKey != ''">
            AND room_key LIKE CONCAT('%', #{roomKey}, '%')
        </if>
        ORDER BY last_seen_time DESC, update_time DESC
    </select>

</mapper>
